<h3>Dashboard</h3>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Athletes</th>
    </tr>
  </thead>
  <tbody>
  <% @races.each do |race| %>
    <tr>
      <td><%= link_to race.name, race %></td>
      <td>
        <ul>
          <% race.athletes.each do |athlete| %>
            <li><%= athlete.name %> <%= athlete.number %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Create Race", new_race_path, :class => "btn btn-primary" %>

</div>
