<div class="nested-fields">
  <div class="input-append">
    <%= f.input_field :number, placeholder: 'Example: 1108047', class: 'input-medium' %>
    <%= link_to_remove_association '<i class="icon-minus"></i>'.html_safe, f, :class => 'btn btn-danger' %>
  </div>
</div>
