<div class="nested-fields">
  <div class="input-append">
    <%= f.input_field :number, :class => "span2" %>
    <span class="add-on">
    <%= link_to_remove_association '<i class="icon-trash"></i>'.html_safe, f %>
  </span>
  </div>
</div>
