<h1>Welcome Guest!</h1>

<p>This page is rendered when a guest user hits the root of the site.</p>

<p>Any ideas for what should appear here?</p>

<ul>
  <li>List of races currently in progress</li>
  <li>Sign up button</li>
  <li>Rider with most miles this week?</li>
  <li>Rider who has climbed the most feet this week?</li>
</ul>