<h1>Home page</h1>

<%= partial "shared/flash_messages" %>

<p>Users are redirected here after successful login.</p>
<p>Shows list of races created by this user.</p>

<p>"Create Race" or "Start Race Button"</p>
<p>When no races created, give the user some guidance along the lines of why not
  create a new race?</p>
