<!DOCTYPE html>
<html>
  <head>
    <title>Yellow Jersey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "bootstrap" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>